langchain>=1.4.2
langchain-chroma>=1.1.0
langchain-community>=0.4.2
langchain-openai>=1.6.3
langchain-openrouter>=0.2.8
langchain-text-splitters>=1.1.2
langgraph>=1.2.12
pypdf>=6.19.0
python-dotenv>=1.2.3
pysqlite3-binary
langchain-google-genai